<div style='width:450px;margin-left:auto;margin-right:auto;'>
  <%form_for @user do |f|%>
    <%=f.error_messages%>
  
    <div style='float:left;'>
      <%=f.label :display_name%><br/>
      <%=f.text_field :display_name%>
    </div>
    <div>
      <%=f.label :username%><br/>
      <%=f.text_field :username%>
    </div>
    
    <div style='height:2em;'>&nbsp;</div>

    <div style='float:left;'>
      <%=f.label :email%><br/>
      <%=f.text_field :email%>
    </div>
    <div style='height:3em;'>&nbsp;</div>
    <div style='height:2em;'>&nbsp;</div>

    <div style='float:left;'>
      <%=f.label :password%><br/>
      <%=f.password_field :password%>
    </div>
    <div>
      <%=f.label :password_confirmation%><br/>
      <%=f.password_field :password_confirmation%>
    </div>

    <%if permitted_to? :edit, :users%>
      <div style='height:2em;'>&nbsp;</div>
      <div>
        &nbsp;<br/>
        <%for role in Role.all%>
          <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
          <%= role.name %>
        <%end%>
        <br/>
        &nbsp;
      </div>
    <%else%>
      <div>&nbsp;</div>
    <%end%>

    <div style='text-align:center;'>
      <%=f.submit%>
    </div>
  <%end%>
</div>
