<%content_for :subtitle do%>Log In<%end%>

<div style='width:400px;margin-left:auto;margin-right:auto;'>
  <% form_for(@user_session) do |f| %>
    <%= f.error_messages %>
  
    <div style='float:left;'>
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </div>
    <div>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div style='text-align:center;'>
      <%= f.submit 'Log In' %>
      <%= link_to 'Cancel', root_path %>
    </div>
  <% end %>
</div>
