<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%=blog.name%> - <%=(yield :subtitle) || "Welcome"%></title>
    <link rel="alternate" type="application/atom+xml" title="<%=blog.name%> - ATOM" href="<%=atom_feed_url%>">
    <link rel="alternate" type="application/rss+xml" title="<%=blog.name%> - RSS" href="<%=rss_feed_url%>" />
    <%=stylesheet_link_tag 'blog/layout'%>
    <%=stylesheet_link_tag 'blog/sidebars'%>
    <%=stylesheet_link_tag 'blog/syntax_highlighting'%>
    <%=stylesheet_link_tag 'boastful'%>
    <%=tiny_mce :editor_selector => "tiny_mce"%>
    <%=javascript_include_tag :defaults%>
    <%=javascript_include_tag 'jquery.min.js'%>
    <%=javascript_include_tag 'jquery.boastful.js'%>
    <%= calendar_date_select_includes "blue"%>
    <%SIDEBARS.each { |sidebar| if File.exist?(File.join(RAILS_ROOT, "public/stylesheets/blog/sidebars/#{sidebar}.css")) -%>
        <%=stylesheet_link_tag "blog/sidebars/#{sidebar}"%>
    <%end }%>
    <script>
      jQuery.noConflict();
      jQuery(document).ready(function() { jQuery('#boastful').boastful({limit: 50}); });
    </script>
    <%=yield :head%>
  </head>

  <body>
    <div id="titlebar-container">
      <div class="caption-container">
        <div class="caption-left"><img src="/images/subtitle-bar-left.png" /></div>
        <div class="caption-center" id="titlebar">
          <span id="blog_name_link">
            <%=link_to blog.name, root_path%>
            <%if permitted_to? :edit, :blogs%>
              [<%=link_to_function "edit", "Element.toggle('blog_name_link');Element.toggle('blog_name_form');"%>]
            <%end%>
          </span>
          <%if permitted_to? :edit, :blogs%>
            <span id="blog_name_form" style='display:none;'>
              <%form_for blog do |f|%>
                <%=f.text_field :name%>
                <%=f.submit%>
              <%end%>
            </span>
          <%end%>
        </div>
        <div class="caption-right"><img src="/images/subtitle-bar-right.png" /></div>
      </div>
    </div>
    
    <div id="content">
      <div id="sidebar">
        <%SIDEBARS.each do |sidebar|%>
          <div class='sidebar_item'>
            <div class='top'></div>
            <div class='content'>
              <div id="<%=sidebar%>">
                <%=render :partial => "sidebars/#{sidebar}"%>
              </div>
            </div>
            <div class='bottom'></div>
          </div>
        <%end%>
      </div>

      <div id="inner-top-background">
        <div id="inner-top">
          <div id="post-info">
            <%if content_given?(:subtitle)%>
              <div id="subtitle-container">
                <div class="caption-container">
                  <div class="caption-left"><img src="/images/subtitle-bar-left.png" /></div>
                  <div class="caption-center" id="subtitle">
                    <%=yield :subtitle%>
                  </div>
                  <div class="caption-right"><img src="/images/subtitle-bar-right.png" /></div>
                </div>
              </div>
            <%end%>
            <%if content_given?(:extra_info)%>
              <div id="extra-info-container">
                <div id="extra-info">
                  <%=yield :extra_info%>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
      <div id="inner-content">
        <%if content_given?(:extra_info)%><div id="spacer">&nbsp;</div><%end%>

        <div id="flash">
          <%-flash.each do |name, msg|-%>
            <%=content_tag :div, msg, :id => "flash_#{name}"%>
          <%-end-%>
        </div>

        <div id="main">
          <%=yield%>

          <%if !defined?(@tweetbacks) || @tweetbacks%>
            <div id="boastful-container">
              <h3>Tweets about this page:</h3>
              <div id="boastful"></div>
            </div>
          <%end%>
          
          <div id="post-comments">
            <%=yield :post_comments%>
          </div>
          
          <div id="post-comments-form">
            <%=yield :post_comments_form%>
          </div>
        </div>
      </div>
      <div id="inner-bottom"></div>
    </div>
  </body>
</html>
