<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%=blog_title(yield(:subtitle) || yield(:title))%></title>
    <%=javascript_include_tag :defaults%>
    <%=javascript_include_tag 'jquery.min.js'%>
    <%=javascript_include_tag 'jquery.boastful.js'%>
    <link rel="alternate" type="application/atom+xml" title="<%=blog.name%> - ATOM" href="<%=atom_feed_url%>" />
    <link rel="alternate" type="application/rss+xml" title="<%=blog.name%> - RSS" href="<%=rss_feed_url%>" />
    <%=defined?(pingback_link_tag) ? pingback_link_tag : ''%>
    <%=stylesheet_link_tag 'blog/external'%>
    <%=stylesheet_link_tag 'blog/layout'%>
    <%=stylesheet_link_tag 'blog/sidebars'%>
    <%=stylesheet_link_tag 'blog/syntax_highlighting'%>
    <%=stylesheet_link_tag 'blog/posts'%>
    <%=stylesheet_link_tag 'boastful'%>
    <%=tiny_mce :editor_selector => "tiny_mce", :relative_urls => false, :remove_script_host => false%>
    <%=calendar_date_select_includes "blue"%>
    <%SIDEBARS.each { |sidebar| if File.exist?(File.join(RAILS_ROOT, "public/stylesheets/blog/sidebars/#{sidebar}.css")) -%>
        <%=stylesheet_link_tag "blog/sidebars/#{sidebar}"%>
    <%end }%>
    <%=yield :head%>
    <%=javascript_tag <<-end_javascript
        jQuery.noConflict();
        jQuery(document).ready(function() {
          jQuery('#boastful').boastful({limit: 25, empty_message:""});
          if (location.href.toString().indexOf("www.") != -1)
            jQuery('#boastful2').boastful({limit: 25, location:location.href.toString().gsub("www.", ""), empty_message:""});
        });
      end_javascript
    %>
    
    <!-- Google analytics stuff. -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19048799-1']);
      _gaq.push(['_setDomainName', '.thoughtsincomputation.com']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- End Google analytics stuff. -->
    
    <!-- ShareThis stuff. -->
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher:'277e6d01-789b-4fb8-96f8-6e9bdd3bd748'});</script>
    <!-- End ShareThis stuff. -->
  </head>

  <body>
    <!--<div id="debug" style="display:none;position:fixed;left:0;bottom:0;background-color:white;width:300px;min-height:50px;z-index:100;"></div>-->

    <div id="outer">
      <div id="border-top-left">&nbsp;</div>
      <div id="border-top-right">&nbsp;</div>
      <div id="border-top-middle">&nbsp;</div>
      <div id="border-center">
        <div id="sidebar">
          <%SIDEBARS.each do |sidebar|%>
            <div class='sidebar_item'>
              <div class='top'></div>
              <div class='content'>
                <div id="<%=sidebar%>">
                  <%=render :partial => "sidebars/#{sidebar}"%>
                </div>
              </div>
              <div class='bottom'></div>
            </div>
          <%end%>
        </div>

        <div id="content">
          <div id="collapse-sidebar" onclick="toggleSidebar();"></div>
          <div id="inner-content">
            <div id="inner-top-content">
              <div id="post-info">
                <div id="titlebar">
                  <%if title = yield(:header) || yield(:title)%>
                    <span id="gohome">
                      <a href='/'>TiC</a>
                    </span>
                    <%=title%>
                  <%else%>
                    <span id="blog_name_link">
                      <%=link_to blog.name, root_path%>
                      <%if permitted_to? :edit, :blogs%>
                        [<%=link_to_function "edit", "Element.toggle('blog_name_link');Element.toggle('blog_name_form');"%>]
                      <%end%>
                    </span>
                    <span id="blog_owner">
                      with <%=link_to blog.owner.name, author_path%>
                    </span>
                    <%if permitted_to? :edit, :blogs%>
                      <span id="blog_name_form" style='display:none;'>
                        <%form_for blog do |f|%>
                          <%=f.text_field :name%>
                          <%=f.submit%>
                        <%end%>
                      </span>
                    <%end%>
                  <%end%>
                </div>
                <%if content_given?(:subtitle)%>
                  <div id="subtitle">
                    <%=yield :subtitle%>
                  </div>
                <%end%>
                <%if content_given?(:extra_info)%>
                  <div id="caption">
                    <%=yield :extra_info%>
                  </div>
                <%end%>
              </div>
            </div>
            
            <%if content_given?(:extra_info)%><div id="spacer">&nbsp;</div><%end%>
    
            <div id="flash">
              <%flash.each do |name, msg|%>
                <%=content_tag :div, msg, :id => "flash_#{name}"%>
              <%end%>
            </div>
    
            <div id="main">
              <%=yield%>
    
              <%if tweetbacks?%>
                <div id="boastful-container">
                  <div id="boastful" style="float:left;"></div>
                  <div id="boastful2"></div>
                </div>
                <div style='clear:both;'></div>
              <%end%>
              
              <div id="post-comments">
                <%=yield :post_comments%>
              </div>
              
              <div id="post-comments-form">
                <%=yield :post_comments_form%>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div id="border-bottom-left">&nbsp;</div>
      <div id="border-bottom-right">&nbsp;</div>
      <div id="border-bottom-middle">&nbsp;</div>
      <div id="fake-bottom"></div>
      
    
      <div style='position:absolute;z-index:-1;top:10px;opacity:0;' id="sidebar-scroll-mirror">
        &nbsp;
        <%#
          This is because if the sidebar is longer than the main content, we don't get
          scrollbars using position:fixed. So we mirror it with a position:absolute
          of equal height in the background.
        
          FIXME: Since this element is positioned absolutely, the sidebars can extend beyond
            the #outer element.
        %>
      </div>
    </div>
  </body>
</html>
